@import url(http://fonts.googleapis.com/css?family=Roboto:100&subset=cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);

body,div,h1,h2,h3,h4,h5,h6,p,ol,ul,li,fieldset,form,label,legend{
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
}
div{
	/*border: 1px solid black;*/
}

ul{
	list-style: none;
}

h1, h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #25271E;
}

p, ul, a, label, button, span, input, input[type="radio"], label{
	font-family: 'Open Sans', sans-serif;
	color: #25271E;
	text-decoration: none;
}

input{
	width: 200px;
}

textarea{
	width: 400px;
	height: 80px;
}

input[type="radio"]{
	width: auto;
}

.header h1{
	line-height: 100px;
}

.header{
	height: 100px;
}

.wrapper{
	margin: 0 1.33%;
}

#tab_menu{
	position: fixed;
	width: 33.33%;
	float: left;
}

#content{
	margin-left: 36.33%;
	width: 60.777%;
	//height: 100%;
	position: fixed;
	overflow: auto;
}

.progres_bar{
	width: 250px;
	height: 20px;
	background-color: orange;
}

.progres_bar_inner{
	width: 0px;
	height: 18px;
	background-color: red;
}
.active_item{
	background-color: #888;
}

.send_group{
	height: 100px;
}

.buttons, .file_btn{
	position: relative;
	margin-top: 20px;	
	vertical-align: middle;
	border: 0;
	width: 130px;
	height: 40px;
	color: white;
	font-size: 1em;
}

.sbt_btn{
	background: #2ecc71;
	border-bottom: 4px solid #28be68;
}

.res_btn{
	background: #e74c3c;
	border-bottom: 4px solid #db4334;
}

.sbt_btn:hover{
	background: #28be68;
}

.res_btn:hover{
	background: #db4334;
}

input[type="file"]{
	opacity: 0;
	padding: 0;
	margin-left: -190px;
}

.style_inpt_file{
	height: 45px;
}

.file_btn{
	margin-left: 0;
	background: #3498db;
	border-bottom: 4px solid #2a8bcc;
	padding: 3px 25px;
}

.tabs form div{
	margin-top: 20px;
	margin-bottom: 10px;
}

.tabs form div:first-child{
	margin: 0px;
}

#list_menu li{
	margin: 10px 0;
	padding: 10px;
	font-color: #fff;
	font-size: 1.1em;
}